.icon-color {
  color: #ecb22d;
}
.review-heading {
  color: #d9d9d9;
}
.review {
  margin-top: 100px;
}
.blue {
  color: #094bca;
}
.resource-bg {
  background-color: #1361f51a;
}
.gray {
  color: #535558;
}
.blog-card {
  font-size: 12px;
}
.blog-card-body {
  padding: 12px;
}
.resource-card {
  padding-left: 0;
  padding-right: 0;
}
@media screen and (max-width: 480px) {
  .footer {
    flex-direction: column;
  }
}
