.icon-color{
    color:#ECB22D;
}
.review-heading{
    color: #D9D9D9;
}
.review{
    margin-top: 100px;
}
.blue{
    color: #094BCA;
}
.resource-bg{
    background-color: #1361F51A;
}
.gray{
    color: #535558;
}
.blog-card{
    font-size: 12px;
}
.blog-card-body{
    padding: 12px;
}